[submodule "libs/freertos"]
	path = libs/freertos
	url = git@github.com:Ouroboros-Embedded-Education/g431kb-ymodem-send-file.git
[submodule "libs/ymodem"]
	path = libs/ymodem
	url = git@github.com:Pablo-Jean/YMODEM.git
[submodule "libs/nor"]
	path = libs/nor
	url = git@github.com:Pablo-Jean/Nor-Flash-Driver.git
[submodule "libs/littlefs"]
	path = libs/littlefs
	url = git@github.com:littlefs-project/littlefs.git
